.about {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .circle {
        height: 55%;
        position: absolute;
        left: 80%;
        bottom: 85%;
        z-index: -10;
    }

    .aboutHolder {
        display: flex;
        justify-content: space-between;
        border: 10px solid $mainFontColor;
        box-shadow: -20px 20px $shadowColor;
        padding: 3rem 3rem 2rem 3rem;
    }
}

.aboutText {
    width: 45%;
    
    ul {
        padding-top: 20px;
        // list-style: none;
        list-style-position: inside;
    }
    li {
        @include font(1.1rem, 2px, 400);
        padding-top: 7px;
        padding-left: 15px;
    }
    a {
        font-weight: 700;
        &:hover {
            background-color: $accentColor;
        }
    }

}

.skills {
    width: 45%;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

        li {
            padding: 1.5rem;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        i {
            font-size: 3rem;
            padding-bottom: 10px;
        }

        img {
            width: 3rem;
            padding-bottom: 11px;
        }

        h4 {
            text-align: center;
        }
}

