.about {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .circle {
        height: 55%;
        position: absolute;
        z-index: -10;

        &:first-of-type {
            left: 80%;
            bottom: 85%;
        }

        &:last-of-type {
            right: 85%;
            top: 70%;
        }
    }

    .aboutHolder {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.aboutText {
    width: 47%;
    border: 10px solid $mainFontColor;
    box-shadow: -20px -20px $shadowColor;
    padding: 3rem 3rem 2rem 3rem;
    
    ul {
        padding-top: 20px;
        list-style-position: inside;

        li {
            @include font(1.1rem, 2px, 400);
            padding-top: 7px;
            padding-left: 15px;
        }

        a {
        font-weight: 700;

            &:hover {
                background-color: $accentColor;
            }
        }
    }
}

.skills {
    width: 47%;
    border: 10px solid $mainFontColor;
    box-shadow: 20px 20px $shadowColor;
    padding: 3rem 3rem 2rem 3rem;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

        li {
            padding: 1.5rem;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        i {
            font-size: 3rem;
            padding-bottom: 10px;
        }

        img {
            width: 3rem;
            padding-bottom: 11px;
        }

        h4 {
            text-align: center;
        }
}

@media (max-width: 1000px) {

    .about {
        display: flex;
        flex-direction: row;
        align-items: center;

        .aboutHolder {
            h3 {
                font-size: 1.5rem;
            }
        }
    }
  
    .aboutText {
        width: 55%;
        padding: 1rem;
        align-self: center;
    }

    .skills {
        width: 40%;
        padding: 1rem;

        h3 {
            padding-bottom: 15px;
        }

        ul{

            li{
                padding: 1rem;
                width: calc(100%/3)
            }
        }
    }
}

@media (max-width: 800px) {
    .about {
        .aboutHolder {
            flex-direction: column;
        }
        
    }
    .aboutText {
        width: 100%;
        margin-bottom: 25px;

        ul {
            padding-bottom: 10px;
        }
    }

    .skills {
        width: 100%;
        padding: 1rem;
        margin-top: 25px;
        
        ul{
            li{
                width: 25%;
            }
        }
    }
}

@media (max-width: 450px) {

    .aboutText {
        margin-top: 15px;
    }
    .skills {
        margin-top: 15px;
        ul{
            li{
                width: calc(100%/3);
            }
        }
    }
}

@media (max-width: 450px) {
    
    .aboutText {
        margin-top: 5px;
    }
    .skills {
        margin-top: 5px;
    }
}

@media (max-width: 400px) {

    .aboutText {
        ul {
            list-style: none;
            li {
                @include font(1rem, 1px, 400);
                padding-top: 10px;
            }
        }
    }
}