footer {
    background-color: $shadowColor;
    padding: 15px;
    text-align: center;
    font-weight: 400;

    span {
        font-weight: 700;
    }

    a:hover, a:focus {
        background-color: $accentColor;
    }
}