.projects {
    position: relative;
    display: flex;
    align-items: center;

    .projectsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;

        h3 {
            border: 10px solid $mainFontColor;
            box-shadow: -15px -15px $shadowColor;
            padding: 1rem 15rem;
        }

        ul {
            @include font(1.2rem, 3px, 400);
            list-style: none;
            display: flex;
            padding: 3rem 0rem 1rem 0rem;

            li {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            a {
                font-weight: 700;
            }

            .projectLink {
                width: 60%;
            }

            .projectLink:hover, .projectLink:focus {
                opacity: 0.5;
            }

            .mockup {
                width: 100%;
            }

            .projectText {
                padding: 1rem;
                width: 80%;
            }

            h4 {
                font-weight: 700;
                padding: 1rem 0rem 1rem 0rem;
                text-transform: uppercase;
            }

            .p2 {
                padding-top: 10px;
            }

            .apiLink:hover, .apiLink:focus {
                background-color: $shadowColor;
            }

            .friendLink:hover, .friendLink:focus {
                background-color: $accentColor;
            }
        }
    }

    // keeping this here in case I add circle design back in:
    // .circle {
    //     position: absolute;
    //     height: 55%;
    //     z-index: -10;

    //     &:first-of-type {
    //         bottom: 75%;
    //         right: 85%;
    //     }

    //     &:last-of-type {
    //         top: 75%;
    //         left: 85%;
    //     }
    // }

    // .trSquiggle {
    //     width: 15%;
    //     position: absolute;

    //     &:nth-of-type(2) {
    //         top: 10%;
    //         left: -2%;
    //     }

    //     &:nth-of-type(3) {
    //         bottom: 10%;
    //         right: -2%;
    //     }
    // }

    .dotNav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0 0 0;

        button {
            padding: 15px;
            font-size: 1.5rem;
            border: none;
            background-color: $mainBackgroundColor;
            color: $mainFontColor;

            &:hover {
                color: $shadowColor;
                cursor: pointer;
            }
            &:focus {
                outline: none;
                color: $shadowColor;
            }
        }

        .prev, .next {
            font-size: 2rem;
        }

        .prevMobile, .nextMobile {
            position: absolute;
            top: 45%;
            font-size: 3rem;
            display: none;
        }

        .prevMobile {
            left: 5%;
        }

        .nextMobile {
            right: 5%;
        }

        .active {
            color: $shadowColor;
        }
    }
}


@media (max-width: 1000px) {
    .projects {
        .projectsContent {
            h3 {
                padding: 1rem 10rem;
            }
            ul {
                li {
                    flex-direction: column;
                }
                .projectLink {
                    width: 90%;
                }
                .projectText {
                    width: 100%;
                }
            }
        }

        .dotNav {
            .prevMobile, .nextMobile {
                display: block;
            }
            .prev, .next {
                display: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .projects {
        .projectsContent {
            ul {
                font-size: 1rem;
                padding: 3rem 0 0 0;
                letter-spacing: 2px;

                .projectText {
                    padding-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .projects {
        .projectsContent {
            h3 {
                padding: 1rem 5rem;
            }
        }
        .dotNav {
            .prevMobile {
                left: 2%;
            }
            
            .nextMobile {
                right: 2%;
            }
        }
    }
}

@media (max-width: 600px) {
    .projects {
        .projectsContent {
            ul {
                .projectText {
                    width: 70%;
                }
            }
        }
        .dotNav {
            .prevMobile, .nextMobile {
                top: 70%;
            }
        }
    }
}

@media (max-width: 500px) {
    .projects {
        .projectsContent {
            h3 {
                padding: 1rem 2rem;
                font-size: 1.5rem;
            }
            ul {
                .projectText {
                    width: 100%;
                }
                .projectLink {
                    width: 100%;
                }
            }
        }
        .dotNav {
            .prevMobile, .nextMobile {
                display: none;
            }
            .prev, .next {
                display: block;
            }
        }
    }
}